<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tcell/src/tcell/Server/TcellServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tcell.Server.TcellServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tcell"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DconfigurationFilePath=conf/server2.conf"/>
</launchConfiguration>
